DISCORD_TOKEN=
SENTRY_DSN=
# Set guild ID here:
DISCORD_GUILD_ID=
# Uncomment below to use an alternative icon and name suffix for dev - to distinguish between your dev guild and a production oene
#SR_GUILD_ICON=images/icon-dev.png
#SR_GUILD_SUFFIX=DEV
